<build>
  <buildType  id=\"$BUILD_TYPE_ID\"/>
  <properties>
    <property name=\"repo\" value=\"$REPO\" />
    <property name=\"tag\" value=\"$TAG\" />
    <property name=\"additional_payload\" value=\"$ADDITIONAL_PAYLOAD\" />
  </properties>
</build>
